# Created by https://www.toptal.com/developers/gitignore/api/react,web
# Edit at https://www.toptal.com/developers/gitignore?templates=react,web

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

### Web ###
*.asp
*.cer
*.csr
*.css
*.htm
*.html
*.js
*.jsp
*.php
*.rss
*.wasm
*.wat
*.xhtml

